/* 
# Front-end Style Guide 

## Layout The designs were created to the following widths: 
- Mobile: 375px 
- Desktop: 1440px 

## Colors 

### Primary 
Very Dark Magenta: hsl(300, 43%, 22%) 
Soft Pink: hsl(333, 80%, 67%) 

### Neutral 
Dark Grayish Magenta: hsl(303, 10%, 53%) 
Light Grayish Magenta: hsl(300, 24%, 96%) 
White: hsl(0, 0%, 100%) 

## Typography 

### Body Copy 
- Font size: 15px

### Font 
- Family: [League Spartan](https: //fonts.google.com/specimen/League+Spartan)
  - Weights: 400, 500, 700 */


html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  color: hsl(303, 10%, 53%);
  padding: 5rem;
  position: relative;
  /* background-image: url(../images/bg-pattern-top-desktop.svg);
  background-image: url(../images/bg-pattern-bottom-desktop.svg); */
  /* font-weight: 900; */
}

.bg-top {
  position: absolute;
  top: 0;
  z-index: -1;

}

.bg-bottom {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

main {
  width: 120rem;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;

}

.hero-descrip {
  /* align-self: flex-start; */
  width: 40%;
}

h1 {
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  font-size: 6.4rem;
  letter-spacing: -2px;
  margin-bottom: 2.4rem;
}

.hero-p {
  line-height: 1.5;
}


.rated div {
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 1.2rem;
  padding: 1rem 2.4rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  border-radius: 0.8rem;
}

.rate-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 3.6rem;
}

.rate-flex:first-child {
  margin-right: 10rem;
}

.rate-flex:nth-child(2) {
  margin-left: 5rem;
  margin-right: 5rem;
}

.rate-flex:last-child {
  margin-left: 10rem;
}

.rate-flex div {
  margin: 0;
}

.icon img {
  margin-left: 0.5rem;
}


.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.6rem;
}

.card {
  background-color: hsl(300, 43%, 22%);
  padding: 3.6rem 2.4rem;
  line-height: 1.5;
  border-radius: 1.2rem;
}

.card:first-child {
  margin-bottom: 5rem;
}

.card:nth-child(2) {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.card:last-child {
  margin-top: 5rem;
}

.img {
  width: 4.8rem;
  border-radius: 50%;
}

.img-name-title {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.name-title {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
}

.name-title p {
  margin: 0;
}

.name {
  color: hsl(300, 24%, 96%);
  font-weight: 500;
}

.title {
  color: hsl(333, 80%, 67%);
}

.testimonial {
  color: hsl(300, 24%, 96%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}